@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.inventory-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $secondary-color-2;

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $secondary-color-2;
    padding: 1rem 2rem;
    align-items: center;

    @include tablet {
      height: 6rem;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    width: 10%;
    background-color: $primary-color-3;
    border: 0rem;
  }

  &__button {
    width: 6%;

    @include tablet {
      width: 10%;
    }
  }

  &__button-text {
    display: none;

    @include tablet {
      display: contents;
      margin: 0;
    }
  }

  &__item {
    color: $primary-color-1;
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0rem;
    padding: 0.5rem;
    width: 13rem;
    line-height: 2.5rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__container {
    @include tablet {
      display: flex;
    }
  }

  &__heading {
    font-size: 0.6875rem;
    color: $secondary-color-1;
    text-transform: uppercase;
    margin-bottom: 0rem;

    @include tablet {
      font-size: 0.75rem;
    }
  }

  &__text {
    font-size: 0.8125rem;
    margin: 0.5rem 0;
    max-width: 21rem;

    @include tablet {
      font-size: 0.875rem;
      max-width: 28rem;
    }

    @include desktop {
      max-width: 28.5rem;
    }
  }

  &__text-status {
    font-size: 0.8125rem;
    margin-top: 0rem;
    max-width: 21rem;
    // text-align: center;

    @include tablet {
      font-size: 0.875rem;
      max-width: 28rem;
    }

    @include desktop {
      max-width: 29rem;
    }
  }

  &__container {
    padding-left: 0rem;

    @include tablet {
      flex-direction: column;
    }
  }

  &__description-wrapper {
    margin: 1rem 1.5rem 0rem;

    @include tablet {
      padding-right: 2.8rem;
      margin: 1rem 1.5rem 2rem 2rem;
      border-right: 1px solid $secondary-color-2;
    }

    @include desktop {
      margin-left: 2.5rem;
    }
  }

  &__bottom {
    @include tablet {
    }
  }

  &__category-container {
    @include tablet {
      margin-top: 1.9rem;
    }
  }

  &__status {
    padding: 0rem 1.5rem;
    flex-grow: 1;

    @include tablet {
      margin-top: 1rem;
      width: 7.6rem;
    }
  }

  &__quantity {
    padding: 0rem 1.5rem;
    flex-grow: 2;

    @include tablet {
      flex-grow: 0;
      margin-top: 0.9rem;
      margin-left: 5rem;
    }

    @include tablet {
      margin-right: 4rem;
    }

    @include desktop {
      margin-left: 150px;
    }
  }

  &__category-heading {
    padding: 0rem 1.5rem;
  }

  &__warehouse {
    padding: 0rem 1.5rem;

    @include tablet {
      margin-top: 2rem;
    }
  }

  &__bottom {
    display: flex;
  }

  &__edit {
    padding: 0 1rem;
    font-weight: 400;
    background-color: $primary-color-2;
    border-radius: 1.5rem;
    color: $primary-color-3;
    border: none;
    cursor: grab;
    height: 2.25rem;
    width: 2.25rem;
    background-image: url("../../assets/icons/edit-white-24px.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
      background-position: left;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-position: 0.5rem 0.4rem;
      background-size: 1.2rem;
      max-width: 4.5rem;
    }
  }

  &__button {
    width: 6%;

    @include tablet {
      width: 11%;
    }
  }

  &__button-text {
    display: none;

    @include tablet {
      display: contents;
      margin: 0;
      justify-content: center;
      font-size: 0.8125rem;
    }
  }
}
