@font-face {
    font-family: 'Titillium';
    src: url(./assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url(.add/assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf) format("woff2");
    font-weight: 600;
    font-style: normal;
}

