@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.item-details {
  border-top: 0.0625rem solid $secondary-color-2;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;

  @include tablet {
    margin-top: 0;
    padding-right: 1.5rem;
    border-right: 0.0625rem solid $secondary-color-2;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
  }

  &__header {
    @include h2-font-mob;
    padding-bottom: 1rem;

    @include tablet {
      @include h2-font-tab;
    }
  }

  &__label {
    @include h3-font-mob;
    font-family: "Titillium";
    padding-bottom: 0.25rem;
    margin-top: 1.5rem;

    @include tablet {
      @include h3-font-tab;
    }
  }

  &__input {
    height: 2.25rem;
    padding: 0 1rem;
    border-radius: 1.25rem;
    border: 0.0625rem $secondary-color-2 solid;
    width: 100%;
    &:focus {
      border: 0.0625rem solid $primary-color-2;
      outline: none;
    }

    @include tablet {
      height: 2.375rem;
    }
  }

  &__textarea {
    padding: 0 1rem;
    border-radius: 1.25rem;
    border: 0.0625rem $secondary-color-2 solid;
    width: 100%;
    // margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    height: 7.5rem;
    &:focus {
      border: 0.0625rem solid $primary-color-2;
      outline: none;
    }
  }
  &__input::placeholder,
  &__textarea::placeholder {
    color: $primary-color-1;
    font-family: "Titillium";
    @include h3-font-mob;
    font-weight: 400;

    @include tablet {
      @include h3-font-tab;
      font-weight: 400;
    }
  }

  &__select {
    appearance: none;
    -webkit-appearance: none;
    background: url("../../assets/Icons/arrow_drop_down-24px.svg") no-repeat
      right 0.625rem center;
    background-size: 1.5rem;
    padding: 0.5rem 1.875rem 0.5rem 1rem;
    width: 100%;
    border: 0.0625rem solid #ccc;
    border-radius: 1.25rem;
    margin-top: 0.25rem;
    font-family: "Titillium";
    height: 2.25rem;

    @include tablet {
      height: 2.375rem;
    }

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
    }
  }

  &__input-error {
    border: 0.0625rem solid $supporting-color-2;
    transition: border-color 0.3s, background-color 0.3s;
  }

  &__error-message {
    display: flex;
    align-items: center;
  }

  &__error-img {
    height: 1rem;
  }

  &__error-text {
    @include h4-font-mob;
    padding-left: 0.25rem;
  }
}
