@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.card {
  position: relative;
  top: -4.0625rem;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(19, 24, 44, 0.1);
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: $primary-color-3;

  @include tablet {
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    top: -6.5625rem;
  }

  @include desktop {
    margin-left: 8.125rem;
    margin-right: 8.125rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      padding: 0 2rem 2rem 2rem;
      
    }

    @include desktop {
      padding: 0 2rem 2rem 2rem; 
  }
}

  &__title-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    gap: 0.5rem;

    @include tablet {
      padding: 0;
      @include h1-font-tab;
    }
  }

  &__back_image {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -0.5rem;
    cursor: pointer;
  }

  &__name {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    @include h1-font-mob;

    @include tablet {
      @include h1-font-tab;
    }
  }

  &__edit-button {
    @include h3-font-mob;
    background-color: $primary-color-2;
    color: $primary-color-3;

    min-width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;

    border: none;
    border-radius: 1.5625rem;
    background-image: url("../../assets/Icons/edit-white-24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;

    @include tablet {
      height: 2.375rem;
      min-width: 5.0625rem;
      background-position-x: 1rem;
      background-position-y: 0.4375rem;
      padding-left: 1.875rem;

      @include h3-font-tab;
      font-weight: 400;

      &::before {
        content: "Edit";
        background-size: 1.375rem;
      }
    }

    &--mob {
      display: block;

      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__content {
    width: 100%;
  }
}
