@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.item-availability {
    border-top: 1px solid $secondary-color-2;
  padding: 32px 40px 0 40px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet{
    margin-top: 0;
    padding-left: 24px;
    padding-top: 0;
    border-top: 0;
  }
  
    &__title {
      @include h2-font-mob;
      padding-bottom: 40px;

      @include tablet{
        @include h2-font-tab;
      }
    }
  
    &__section {
      margin-bottom: 24px;
    }
  
    &__label {
      @include h3-font-mob;
      padding-bottom: 4px;

      @include tablet{
        @include h3-font-tab;
      }
    }
  
    &__status-options {
      display: flex;
      gap: 50%;

      @include tablet{
        gap: 18%;
      }
    }
  
    &__radio {
      display: flex;
      align-items: center;
  
      input {
        margin-left: 0px;
        margin-right: 4px;
        margin-top: 0;
        width: 16px;
        height: 16px;
      }
    }
  
    &__radio-text {
      color: $secondary-color-1;
      @include h3-font-mob;
      font-weight: 400;

      &--in-stock {
        color: $primary-color-1;
      }
  
      &--out-of-stock {
        color: $primary-color-1;
      }
    }
  
    &__select {
        appearance: none; 
        -webkit-appearance: none; 
        background: url('../../assets/Icons/arrow_drop_down-24px.svg') no-repeat right 10px center;
        background-size: 24px; 
        padding: 8px 30px 8px 16px; 
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-top: 4px;
        font-family: 'Titillium';
        height: 36px;

        @include tablet{
          height: 38px;
        }

    
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    &__quantity{
      display: flex;
      flex-direction: column;
    }

    &__quantity-input{
      height: 36px;
    padding: 0 16px;
    border-radius: 20px;
    border: 1px $secondary-color-2 solid;
    width: 30%;
    margin-bottom: 24px;
    &:focus {
      border: 1px solid $primary-color-2;
      outline: none;
    }

    @include tablet{
      height: 38px;
    }
    }
  }
  